[submodule "modules/benchmark"]
	path = modules/benchmark
	url = git@github.com:phy-q/benchmark.git
[submodule "modules/IratusAves"]
	path = modules/IratusAves
	url = git@github.com:stepmat/IratusAves.git
